.widget-sidebar h3 a{
	font-size: 24px;
	color: black;
}
#sidebar .tweets{
	margin-top: 5px;
	font-size: 14px;
}
#sidebar .tweets li{
	padding: 5px 0px 5px 0px;
	border-bottom: black 1px solid; 
}
#sidebar .tweets li a{
	color: #999;
}
#page-meta{
	display:none;
}